@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
  touch-action: none;
  overscroll-behavior: none;
}

body {
  @apply bg-slate-950 text-slate-100 antialiased;
}
